#include <winres.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_CONFIG DIALOGEX 0, 0, 283, 220
STYLE DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Resampler settings"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    DEFPUSHBUTTON   "&OK", IDOK, 173, 201, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "&Cancel", IDCANCEL, 229, 201, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Target samplerate:", IDC_STATIC, 4, 12, 67, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Quality:", IDC_STATIC, 173, 12, 30, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Hz", IDC_STATIC, 158, 12, 13, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_RATE, 74, 10, 81, 300, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_QUALITY, 206, 10, 73, 30, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
    GROUPBOX        "Passband", IDC_STATIC, 4, 28, 275, 40, 0, WS_EX_LEFT
    CONTROL         "", IDC_PASSBAND, "msctls_trackbar32", WS_TABSTOP | TBS_AUTOTICKS, 12, 36, 255, 21, WS_EX_LEFT
    CTEXT           "95.0 %", IDC_BWTEXT, 125, 58, 41, 8, SS_CENTER, WS_EX_LEFT
    AUTOCHECKBOX    "Allow aliasing/imaging", IDC_ALIASING, 4, 72, 94, 10, 0, WS_EX_LEFT
    GROUPBOX        "Phase response", IDC_STATIC, 4, 87, 275, 45, 0, WS_EX_LEFT
    CONTROL         "", IDC_PHRESPONSE, "msctls_trackbar32", WS_TABSTOP | TBS_AUTOTICKS, 12, 96, 255, 20, WS_EX_LEFT
    CTEXT           "50.0 %", IDC_PHASETEXT, 102, 121, 86, 8, SS_CENTER, WS_EX_LEFT
    GROUPBOX        "Special samplerates", IDC_STATIC, 2, 140, 275, 50, 0, WS_EX_LEFT
    COMBOBOX        IDC_SPECIALMODE, 12, 154, 257, 30, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
    EDITTEXT        IDC_SPECIALRATES, 12, 171, 257, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "Default", IDC_DEFAULTS, 1, 201, 50, 14, NOT WS_VISIBLE, WS_EX_LEFT
}
